<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/">My Blog</a>
  </div>
  <button (click)="toggleTheme()" class="theme-toggle">
    {{ isDarkMode ? '🌞 Light Mode' : '🌙 Dark Mode' }}
  </button>
  <div class="navbar-right">
    @if(isLoggedIn){
       <!-- User Profile Section -->
      <div class="profile-dropdown">
        <img
          [src]="userProfileImage"
          alt="User Profile"
          class="profile-image"
          (click)="toggleDropdown()"
        />
        @if(dropdownOpen){
          <div class="dropdown-content" >
            <a routerLink="profile" (click)="toggleDropdown()">My Profile</a>
            <a routerLink="settings" (click)="toggleDropdown()">Settings</a>
            <a routerLink="create-blog" (click)="toggleDropdown()">Create Blog</a>
            <a routerLink="blog-list" (click)="toggleDropdown()">My blogs</a>
            <a routerLink="login" (click)="logout()">Logout</a>
          </div>
        }

      </div>
    }
    @else {
            <!-- Login Button for Guests -->
            <button class="login-button" (click)="navigateToLogin()">Login</button>
    }
  </div>
</nav>
<router-outlet></router-outlet>
