<div class="blog-list">
  <h2 class="title">Blog List</h2>
  <table class="table-container">
    <thead>
      <tr>
        <th>Title</th>
        <th>Excerpt</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for(blog of blogs;track i;let i = $index){
        <tr >
          <td>{{ blog.title }}</td>
          <td>{{ blog.excerpt }}</td>
          <td>
            <div class="button-wrapper">
              <button (click)="editBlog(blog)">Edit</button>
              <button (click)="deleteBlog(blog)" class="danger">Delete</button>
            </div>
          </td>
        </tr>
      }

    </tbody>
  </table>
</div>
