.comments-section {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment-form {
  margin-bottom: 20px;
}

.comment-form input, .comment-form textarea {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment-form button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #3e8e41;
}

.comments-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.comment-header {
  margin-bottom: 10px;
}

.comment-header strong {
  font-weight: bold;
  color: #333;
}

.comment-header span {
  font-size: 14px;
  color: #666;
}

.comment p {
  margin-bottom: 20px;
}