.admin-layout {
    display: flex;
    min-height: 100vh;
    background-color: var(--background-color);
  }
  
  .sidebar {
    width: 250px;
    padding: 20px;
    background-color: var(--secondary-color);
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--background-color);
  }
  